<!-- The Modal -->
<div id="myModal" class="modal-background">

  <!-- Modal content -->
  <div class="modal-dialog">

    <div class="modal-title">
      <span class="close">&times;</span>
      <span id="modal-title-text">Modal Title</span>
    </div>

    <div id="modal-body" class="modal-body">
      <p>content</p>
      <div id='qrcode' class='modal-qrcode'></div> 
      <br>
      <div class="modal-copy-buttons">
        <button class='button button-primary qrcode-copy-button'>Copy QRCode</button>
        <span class='show-result-info'>Copied</span>
        <button class='button button-primary linkurl-copy-button'>Copy URL</button>
      </div>
    </div>

    <!-- <div class="modal-footer">
      <h3>Modal Footer</h3>
    </div> -->
  </div>

</div>
