<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" href="/images/favicon.ico">
  <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
  <link rel="stylesheet" href="/styles/index.css" type="text/css" />
  <link rel="stylesheet" href="/styles/modal.css" type="text/css" />
  <title>Goofspiel-Start Game</title>
</head>

<body>
  <% include ./partials/nav.ejs %>
  <% include ./partials/modal.ejs %>
  <div class="container">
    <h1>Start Game</h1>
    <h4>Goofspiel is played using cards from a standard deck of cards, and is typically a two-player game, although more
      players are possible. About our game board:</h4>
    <ol>
      <li>The upper part shows cards remaining in your hand, the middle shows card you and
        your opponent deal in each round, the bottom shows the whole progress of a game</li>
      <li>You can click the blank area to toggle the navigation menu which will help to concentrate on playing the game.
      </li>
    </ol>

    <div class="new-games">
      <div class="new-game new-game-button" data-game="goofspiel">
        <img src="/images/goofspiel.png">
        <div class="new-buttons">
          <div> <button id='new-game-button' class="button button-disabled">Create</button></div>
          <div> <button id='play-game-button' class="button button-disabled">Play</button></div>
        </div>
      </div>

      <div class="rules">
        <h4>To make more fun, we introduce this game here via an interesting background story as the following:</h4>
        <ol class="new-game">
          <li>Two sprites meet in a forest running for a treasure box via bids of goofspiel game rounds;</li>
          <li>They start at the same point: with a initial distance of 45 steps to the treasure box;</li>
          <li>Each round winner will get a chance to move the scored steps(card number in the round) towards the
            treasure box;
          </li>
          <li>If it's a tie round, they both have rights to move forward half of card number steps;</li>
          <li>The remaining distance(steps) of each round winner will be reduced by the round score(moved
            distance/steps)
            after the round;
          </li>
          <li>The final winner is the first sprite who wins/scores 45(+) steps to reach the treasure box.</li>
          <li>Just play and have fun! </li>

      </div>
    </div>

    <h4> You can read the common rules below to better understand how to play:</h4>
    <ol class="new-game">
      <li>Each suit is ranked A (low), 2, ..., 10, J, Q, K (high). One suit is singled out as the "prizes"; each of
        the remaining suits becomes a hand for one player, with one suit discarded if there are only two players, or
        taken from additional decks if there are four or more. The prizes are shuffled and placed between the players
        with one card turned up.
      </li>
      <li>
        Play proceeds in a series of rounds. The players make "closed bids" for the top (face up) prize by selecting a
        card from their hand (keeping their choice secret from their opponent). Once these cards are selected, they
        are simultaneously revealed, and the player making the highest bid takes the competition card. Rules for ties
        in the bidding vary, possibilities including the competition card being discarded, or its value split between
        the tied players (possibly resulting in fractional scores). Some play that the current prize may "roll over"
        to the next round, so that two or more cards are competed for at once with a single bid card.
      </li>
      <li>
        The cards used for bidding are discarded, and play continues with a new upturned prize card.
      </li>
      <li>
        After 13 rounds, there are no remaining cards and the game ends. Typically, players earn points equal to sum
        of the ranks of cards won (i.e. ace is worth one point, 2 is two points, etc., jack 11, queen 12, and king 13
        points). Players may agree upon other scoring schemes.
      </li>
    </ol>
  </div>

  </div>
  <script src="/vendor/jquery-3.5.0.min.js"></script>
  <script src="/scripts/modal.js"></script>
  <script src="/scripts/actions.js"></script>
  <script src="/scripts/common.js"></script>

  <script>
    $('.nav-header [data-path="/games/new"]').addClass("nav-link-active");
  </script>
</body>

</html>